/* ========================
General styles
======================== */

html {
   font-size: 100%;
   line-height: 1;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.logo {
  width: 100px;
  height: 100px;
}

.main-container {
  height: 100%;
  width: 100%;
}

/* ========================
Navigation styles
======================== */

.main-nav {
  left: -13em;
  height: 100%;
  position: fixed;
  width: 13em;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

nav li {
   list-style: none;
}

a {
  text-decoration: none;
}

button {
  width: 24px;
  height: 24px;
  color: red;
  padding: 40px;
}

.icon-menu {
  font-size: 1em;
  font-family: "Open Sans";
  font-weight: 300;
  color: #fff;
  line-height: 1.5em;
  padding: .5em 0 .5em .5em;
  text-transform: uppercase;
  background-color: green;
}

.icon-menu span {
  color: #fff;
  margin-right: .5em;
}

/* ========================
Media queries
======================== */

/* none in version 2 */