/* ========================
General styles
======================== */
/* line 8, ../scss/style.scss */
* {
  box-sizing: border-box;
}

/* line 12, ../scss/style.scss */
html, body {
  height: 100%;
}

/* line 16, ../scss/style.scss */
html {
  font-size: 100%;
  line-height: 1;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 24, ../scss/style.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f9f0cf;
}

/* line 29, ../scss/style.scss */
h2 {
  margin-top: 1.4em;
  margin-bottom: 0;
}

/* line 34, ../scss/style.scss */
p {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: .6em;
  margin-bottom: 0;
}

/* line 41, ../scss/style.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: #f47a07;
  z-index: 1;
}

/* line 51, ../scss/style.scss */
header h1 {
  color: #fff;
  text-align: center;
  padding: 0;
  margin-top: 14px;
}

/* section with main article content */
/* line 59, ../scss/style.scss */
.main-container {
  padding: 50px 14px 14px 14px;
  min-height: 100%;
  margin-bottom: -52px;
  position: relative;
  left: 0;
  margin: 0;
}

/* line 68, ../scss/style.scss */
.logo {
  width: 100px;
  height: 100px;
  position: relative;
  top: 70px;
}

/* line 75, ../scss/style.scss */
.title {
  display: none;
}

/* line 79, ../scss/style.scss */
.picture {
  border-radius: 10%;
  height: 32px;
  width: 32px;
  margin: 6px 10px 0 2px;
  float: left;
}

/* line 87, ../scss/style.scss */
article {
  overflow: hidden;
}

/* ========================
Navigation styles
======================== */
/* Initial menu */
/* line 99, ../scss/style.scss */
.main-nav {
  left: -100em;
  /* start at negative left */
  position: fixed;
  top: 170px;
  width: 180px;
}

/* line 106, ../scss/style.scss */
.main-nav2 {
  display: none;
}

/* line 111, ../scss/style.scss */
nav li {
  list-style: none;
  font-size: 1.2em;
  padding-bottom: 1.2em;
}

/* line 117, ../scss/style.scss */
a {
  text-decoration: none;
  color: #40b2a8;
}

/* line 122, ../scss/style.scss */
a:hover {
  color: #249393;
  font-weight: 600;
}

/* line 127, ../scss/style.scss */
a:visited {
  color: #40b2a8;
}

/* footer nav icon container */
/* line 132, ../scss/style.scss */
.icon-menu {
  height: 52px;
  background-color: #3bc8ba;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* line 140, ../scss/style.scss */
.icon-menu p {
  font-size: 1.2em;
  font-family: "Open Sans";
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 1em 1em 1em;
  margin-top: 0;
}

/* line 150, ../scss/style.scss */
.icon-menu span {
  font-size: 1em;
  color: #fff;
  margin-right: .5em;
}

/* ========================
Media queries
======================== */
@media screen and (min-width: 668px) {
  /* line 167, ../scss/style.scss */
  body {
    font-size: 110%;
  }

  /* line 171, ../scss/style.scss */
  h1 {
    font-size: 3em;
  }

  /* line 175, ../scss/style.scss */
  header, .main-nav, .icon-menu {
    display: none;
  }

  /* line 179, ../scss/style.scss */
  .logo {
    display: block;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 200px;
    height: 200px;
  }

  /* line 189, ../scss/style.scss */
  .title {
    display: block;
    position: relative;
    z-index: 1;
    top: 50px;
    left: 152px;
    color: black;
  }

  /* line 198, ../scss/style.scss */
  .main-nav {
    display: none;
  }

  /* line 202, ../scss/style.scss */
  .main-nav2 {
    position: fixed;
    top: 40px;
    width: 150px;
    left: 0;
    margin: 230px 0.5%;
    min-width: 20%;
    display: block;
  }

  /* line 212, ../scss/style.scss */
  .main-container {
    left: 15%;
    max-width: 75%;
    position: relative;
    margin-top: 100px;
    margin-left: 40px;
  }

  /* line 220, ../scss/style.scss */
  .picture {
    border-radius: 10%;
    height: 200px;
    width: 200px;
    margin: 6px 10px 0 2px;
    float: right;
  }

  /* line 228, ../scss/style.scss */
  #pic1 {
    content: url(http://wavon.github.io/drinkup/img/smoothie1md.jpg);
  }

  /* line 231, ../scss/style.scss */
  #pic2 {
    content: url(http://wavon.github.io/drinkup/img/smoothie2md.jpg);
  }

  /* line 234, ../scss/style.scss */
  #pic3 {
    content: url(http://wavon.github.io/drinkup/img/smoothie3md.jpg);
  }

  /* line 237, ../scss/style.scss */
  #pic4 {
    content: url(http://wavon.github.io/drinkup/img/smoothie4md.jpg);
  }

  /* line 240, ../scss/style.scss */
  #pic5 {
    content: url(http://wavon.github.io/drinkup/img/smoothie5md.jpg);
  }

  /* line 243, ../scss/style.scss */
  #pic6 {
    content: url(http://wavon.github.io/drinkup/img/smoothie6md.jpg);
  }
}
