/* ========================
General styles
======================== */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
   font-size: 100%;
   line-height: 1;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(249, 240, 207);
}

h2 {
  margin-top: 1.4em;
  margin-bottom: 0;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  margin-top: .6em;
  margin-bottom: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background: rgb(244, 122, 7);
  z-index: 1;
}

header h1 {
  color: #fff;
  text-align: center;
  padding: 0;
  margin-top: 14px;
}

/* section with main article content */
.main-container {
  padding: 70px 14px 14px 14px;
  min-height: 100%;
  margin-bottom: -52px;
  position: relative;
  left: 0;
  margin: 0;
}

.picture {
  border-radius: 10%;
  height: 32px;
    width: 32px;
    margin: 6px 10px 0 2px;
    float: left;
}

article {
  overflow: hidden;
}

.logo {
  width: 100px;
  height: 100px;
}


/* ========================
Navigation styles
======================== */

/* Initial menu */
.main-nav {
  left: -100em; /* start at negative left */
  position: fixed;
  top: 70px;
  width: 180px;
}

.main-nav2 {
  display: none;
}


nav li {
   list-style: none;
   font-size: 1.2em;
   padding-bottom: 1.2em;
}

a {
  text-decoration: none;
  color: #40b2a8;
}

a:hover {
  color: #249393;
  font-weight: 600;
}

a:visited {
  color: #40b2a8; 
}

/* footer nav icon container */
.icon-menu {
  height: 52px;
  background-color: rgb(59, 200, 186);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon-menu p {
  font-size: 1.2em;
  font-family: "Open Sans";
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 1em 1em 1em;
  margin-top: 0;
}

.icon-menu span {
  font-size: 1em;
  color: #fff;
  margin-right: .5em;
}





/* ========================
Media queries
======================== */

@media screen and (min-width: 480px){
  body {
      font-size: 110%;
      }
  
    h1 {
      font-size: 3em;
    }

    header {
        display: none;
      }

    .logo {
      display: block;
      position: fixed;
      top: 5px;
      left: 5px;
      width: 200px;
      height: 200px;
    }


    .main-nav2 {
        position: fixed;
        top: 40px;
        width: 180px;
        left: 0; 
        margin: 230px 0.5%;
        min-width: 25%;
        display: block;
      }

    .main-nav, .icon-menu {
    display: none;
  }

    .main-container {
      left: 25%; 
      max-width: 65%;
      position: relative;
      margin-top: 100px;
    }

    .picture {
    border-radius: 10%;
    height: 200px;
    width: 200px;
    margin: 6px 10px 0 2px;
    float: right;
}




}
  
